@{
    ViewBag.Title = "CacheView";
}

<h2>CacheView</h2>

<div>
    <span>Cache Name : @Model.Name</span><br />
    <span>Cache Salary : @Model.Salary</span><br />
    <span>Cache Time : @Model.CurrentTime</span>
</div>
